<p class="p-3 mb-2 bg-success text-white"><%= @question %></p>
<p class="p-3 mb-2 bg-success text-white" class="font-italic">You</p>
<br>
<p class="p-3 mb-2 bg-danger text-white"><%= @answer %></p>
<p class="p-3 mb-2 bg-danger text-white" class="font-italic">Coach</p>
<br>
<br>
<button type="button" class="btn btn-outline-warning"><%=link_to "Ask a new question", ask_path%></button>
