<form action="/answer" method="get">
<label for="question" class="form-control-plaintext">What is your question?</label>
<input type="text" name="question" id="question" placeholder="write your question...">
<input type=submit value="Ask!" class="btn btn-primary mb-3">
</form>
