<form action="/answer" method="get">
<label for="question" class="form-control-plaintext">Ask your coach anything:</label>
<input type="text" name="question" id="question">
<input type=submit value="Ask" class="btn btn-primary ml-0 pt-0 pb-1">
</form>
